:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}